.wrapper{
  display: flex;
  main{
    flex: 1;
    overflow-x: auto;
    height: 100vh;
    padding: 1rem;

    .header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1rem;

      .headerText{
        h2{
          font-size: 3rem;
        }
      }
      img{
        max-width: 25rem;
        width: 100%;
      }
    }

    .content{
      display: flex;
      margin: 0 auto;
      
      flex-direction: column;
      max-width: 750px;
      width: 100%;

      height: 500px;
      padding: 1rem;

      p{
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    }

    
  }


}

@media (max-width: 798px){
  .wrapper{
    flex-direction: column;
  }
}

@media (max-width: 450px){
  .header{
    flex-direction: column-reverse;
  }
}
