.wrapper{
  display: flex;
  main{
    flex: 1;
    overflow-x: auto;
    height: 100vh;

    ul{
      list-style-type: none;
    }
  }

  .gits{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 798px){
  .wrapper{
    flex-direction: column;
  }
}

@media (max-width: 798px){
  .wrapper{
    flex-direction: column;
  }
}

@media (max-width: 450px){
  .header{
    flex-direction: column-reverse;
  }
}
