.wrapper{
  display: flex;
  
  main{
    display: flex;
    flex: 1;
    overflow-x: auto;
    height:100vh;
    padding:20px;
  }

  .content{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .box{
      margin:1rem;
      padding:1rem;
      border-radius: 10px;
      box-shadow: 6px 6px 9px -5px rgba(0,0,0,0.82);
      -webkit-box-shadow: 6px 6px 9px -5px rgba(0,0,0,0.82);
      -moz-box-shadow: 6px 6px 9px -5px rgba(0,0,0,0.82);
      background-color: purple;

      h2{
        color: #fff;
        text-align: center;
        margin-bottom: 10px;

        &:last-of-type{
          font-size:25px;
        }
      }

      img{
        margin-bottom:10px;
      }
    }


    button{
      border: 0;
      text-decoration: none;
      cursor: pointer;
      color: #f5f5f5;
      background-color: #800080;
      font-size: 18px;
      width: 100%;
      text-align: center;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin-top: 15px;
      border-radius: 4px;
    }
    
    button:hover{
      cursor: pointer;
      background-color: #c200c2;
    }
  }
}
@media (max-width: 798px){
  .wrapper{
    flex-direction: column;

    .content{
      margin-top: 5rem;
      flex-direction: column;
    }
  }
}
