.container{
  pre{
    margin: 10px 0;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #dbcdd4;
    border-radius: 6px;
  }
  
  code{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: auto;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    p{
      margin-top: 0rem !important;
      color: rgb(54, 53, 53);
      width: 100%;
    }
  }

  button{
    border: 0;
    text-decoration: none;
    cursor: pointer;
    color: #f5f5f5;
    margin-left: 1rem;

    background-color: #6564db;
    font-size: 12px;
    max-width: 80px;
    width: 100%;
    border-radius: 4px;
    padding: 0.8rem;

    &:hover{
      cursor: pointer;
      background-color: #232ed1;
    }
  }
}

